@{
	ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="height: 80vh;">
	<div class="col-md-6" style="height: 100%;">
		<div class="list-group" style="height: 100%;">
			<a href="@Url.Action("Library", "Library")" class="list-group-item list-group-item-action">Library</a>
			<a href="@Url.Action("Active", "Active")" class="list-group-item list-group-item-action">Active</a>
			<a href="@Url.Action("MyBooks", "MyBooks")" class="list-group-item list-group-item-action">My Books</a>
		</div>
	</div>
	<div class="col-md-6" style="height: 100%;">
		<div class="advertising-block">
		</div>
	</div>
</div>


<style>
	.list-group {
		gap: 10px
	}

	.list-group-item {
		height: calc(33.3% - 20px/3);
		border-radius: 20px;
		justify-content: center;
		background-color: #ccc;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.list-group-item:first-child {
			border-radius: 20px;
		}

		.list-group-item:last-child {
			border-radius: 20px;
		}

		.list-group-item:hover {
			background-color: #ddd;
		}

	.advertising-block {
		height: 100%;
		border-radius: 20px;
		background-color: #3498db;
		margin-bottom: 10px;
	}
</style>