form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
}

.card-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.card {
    height: 300px;
    background-color: #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

    .card:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

.img-fluid {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card-body {
    padding: 5px 10px;
}

    .card-body .genre {
        padding: 2px 5px;
        border-radius: 5px;
        background-color: green;
        color: white;
        font-weight: bold;
    }

    .card-body h5 {
        margin-bottom: 0;
    }
