.background-block {
    justify-content: flex-start;
}

.order-item {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #dcdcdc;
    border-radius: 20px;
    display: flex;
    align-items: start;
    cursor: pointer;
}

    .order-item:hover {
        background-color: #bbb;
    }

    .order-item p {
        margin: 0;
        padding: 0;
    }

    .order-item .type {
        width: auto;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: green;
        color: white;
        font-weight: bold;
    }

.btn-container {
    display: flex;
    justify-content: end;
}

.btn-primary {
    min-width: 100px;
    min-height: 30px;
    color: #fff;
    background-color: #00a115;
    border-radius: 10px;
    border-color: #005411;
    font-size: 20px;
}

    .btn-primary:hover {
        background-color: #1b8e00;
        border-color: #777
    }
