.background-block {
    justify-content: flex-start;
    overflow-y: auto;
}

.order-item {
    width: 95%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #dcdcdc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .order-item:hover {
        background-color: #bbb;
    }

    .order-item p {
        margin: 0;
        padding: 0;
    }

    .order-item .type {
        width: auto;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: green;
        color: white;
        font-weight: bold;
    }

    .order-item .status{
        color: green;
    }

.btn-container {
    display: flex;
    justify-content: end;
}

.btn-primary {
    min-width: 100px;
    min-height: 30px;
    color: #fff;
    background-color: #00a115;
    border-radius: 10px;
    border-color: #005411;
    font-size: 20px;
}

    .btn-primary:hover {
        background-color: #1b8e00;
        border-color: #777
    }

img {
    max-height: 300px;
    max-width: 400px;
}

.order-info-block {
    width: 100%;
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: start;
}

    .order-info-block p {
        margin: 0;
        padding: 0 15px;
        font-size: 20px;
    }

.books {
    height: 85%;
    width: 90%;
}

.order-book {
    width: 90%;
    padding: 10px 20px;
    margin: 0;
    background-color: #dcdcdc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

    .order-book p {
        font-size: 20px;
        margin: 0;
    }
