.background-block {
    justify-content: flex-start;
}

.order-item {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    background-color: #dcdcdc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

    .order-item p {
        margin: 0;
    }
