.advertising-block {
    height: 100%;
    border-radius: 20px;
    background-color: #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 95%;
    max-height:70%;
}

img {
    border-radius: 10px;
    max-height: 90%;
    max-width: 630px;
}

.card-body {
    text-align: left;
}

.nested-block {
    background-color: #dcdcdc;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    margin-top: auto; 
}

.btn-primary {
    min-width: 150px;
    background-color: #888; 
    color: #fff;
    width: 100%;
    border-color: #777;
    border-radius: 10px;
}

    .btn-primary:hover {
        background-color: #777;
        border-color: #777
    }