row {
    gap: 10px;
}

img {
    border-radius: 10px;
    max-height: 90%;
    max-width: 630px;
}

.card-body {
    width: 100%;
    text-align: left;
}

.btn-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.btn-primary {
    min-width: 300px;
    min-height: 50px;
    color: #fff;
    background-color: #00a115;
    border-radius: 10px;
    border-color: #005411;
    font-size: 20px;
}

    .btn-primary:hover {
        background-color: #1b8e00;
        border-color: #777
    }

p {
    align-self: start;
    font-size: 20px;
}
