.background-block {
    justify-content: flex-start;
}

.delivery-block {
    margin: 0 10px 10px 10px;
    padding: 0 15px;
    width: 100%;
    min-height: calc(100% - 50px);
    text-align: start;
    overflow: auto;
}

h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

h4 {
    height: 30px;
    margin: 10px 0 5px 0;
}

.form-control {
    width: 95%;
    border-radius: 10px;
}

textarea.form-control {
    resize: none;
    margin-bottom: 15px;
}

.items {
    height: 85%;
    width: 90%;
    overflow-y: auto;
}

.order-item {
    width: 99%;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #dcdcdc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

    .order-item p {
        font-size: 20px;
        margin: 0;
    }

    .order-item.item-ref {
        cursor: pointer;
    }

        .order-item.item-ref:hover {
            background-color: #bbb;
        }

/* Buttons */
.btn-remove-container {
    display: flex;
    justify-content: end;
    padding: 0;
}

.btn-remove {
    background-color: #ff2828;
    min-height: 50px;
    min-width: 50px;
    color: #fff;
    border-radius: 15px;
    border-color: #005411;
    font-size: 20px;
}

    .btn-remove:hover {
        color: #fff;
        background-color: #cc0000;
    }

.btn-confirm-container {
    display: flex;
    justify-content: center;
}

    .btn-confirm-container .btn {
        min-width: 300px;
        min-height: 50px;
        color: #fff;
        border-radius: 10px;
        border-color: #005411;
        font-size: 20px;
    }

        .btn-confirm-container .btn:hover {
            border-color: #777
        }

.btn-primary {
    background-color: #00a115;
}

    .btn-primary:hover {
        background-color: #1b8e00;
    }

.btn-danger {
    background-color: #ff2828;
}

    .btn-danger:hover {
        background-color: #cc0000;
    }



.delivery-line {
    width: 95%;
    position: relative;
}

    .delivery-line .form-control {
        width: 100%;
    }

#city-list,
#point-list {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

    #city-list li,
    #point-list li{
        padding: 8px 12px;
        cursor: pointer;
        min-width: 300px;
    }

        #city-list li:hover,
        #point-list li:hover {
            background-color: #f4f4f4;
        }