@model OrderModel

<div class="row" style="height: 85vh;">
	<div class="col-md-6">
		<div class="background-block" style="height: 35%;">
			<h4>Delivery parameters</h4>
		</div>
		<div class="background-block" style="height: 30%;">
			<h4>Pay variants</h4>
		</div>
		<div class="background-block" style="height: 25%;">
			<h4>Comment</h4>
		</div>
		<div class="btn-container" onclick="location.href='@Url.Action("ConfirmOrder", "Order")'">
			<button type="submit" class="btn btn-primary">Confirm order</button>
		</div>
	</div>

	<div class="col-md-6">
		<div class="background-block" style="height: calc(45% + 5px);">
			<h4>Basket items</h4>
		</div>
		<div class="background-block" style="height: calc(45% + 5px);">
			<h4>Other seller items</h4>
		</div>
		<div class="btn-container" onclick="location.href='@Url.Action("DeleteOrder", "Order")'">
			<button type="submit" class="btn btn-primary">Delete order</button>
		</div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/backgroundBlock.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />
}