@model List<BookTitleDto>

<h2>My Books</h2>


<div class="row">
	<div class="col-md-3 mb-4">
		<a href="@Url.Action("AddBook", "Book")" class="card-link d-block text-decoration-none" style="height: 100%;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">Add Book</h5>
					<p class="card-text text-center">Click here to add a new book</p>
				</div>
			</div>
		</a>
	</div>

	@foreach (var book in Model ?? Enumerable.Empty<BookTitleDto>())
	{
		<div class="col-md-3 mb-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Title: @book.Title</h5>
					<p class="card-text">Author: @book.Author</p>
				</div>
			</div>
		</div>
	}
</div>

