@* @model OrderModel *@

<div class="row" style="height: 85vh;">
	<div class="col-md-4">
		<div class="background-block" style="height: 100%;">
		</div>
	</div>

	<div class="col-md-8">
		<div class="background-block" style="height: 100%;">
		</div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/backgroundBlock.css" asp-append-version="true" />
}
